<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- Make site responsive on mobile/tablet -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>YelpCamp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js">
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
<!--FACEBOOK SDK for Loggin in and Signing up-->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=1543447179086806&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


 


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class=" navbar-nav ml-auto">
          <% if(!currentUser) { %>
            <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
              <a class="nav-link" href="/campgrounds">Home</a>
            </li>
            <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="/#">Signed in as
                  <%= currentUser.username %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              <% } %>
        </ul>
      
    </div>
    
  </nav>

  <div class="container">
    <!-- error and success are empty arrays, so we have to also check whether they have a length-->
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger mt-3" role="alert">
          <% if(error.length === 1) { %>
            <strong><%= error %></strong>
          <% }  else { %>
            <ul>
              <% error.forEach(function(err) { %>
              <li> <strong><%= err %></strong></li>
            <% }); %>
            </ul>
            <% }}%>
      </div>
    <% if(success && success.length >0) {%>
      <div class="alert alert-success mt-3" role="alert">
        <%= success %>
      </div>
    <% } %>
    <% if(info && info.length >0) {%>
      <div class="alert alert-info mt-3" role="alert">
        <%= info %>
      </div>
      <% } %>
  </div>

  <div class="container">